a.volpe-btn {
  padding: 24px 69px;
  display: inline-block;
  width: auto;
  font-weight: 900;
  font-size: 26px;
  border-radius: 27px;
  outline: none;
}

button.volpe-btn {
  border: none;
  padding: 11px 56px;
  border-radius: 30px;
  font-weight: 900;
  outline: none;
}
