$nav-link: #ECECEC;
$nav-link-underline: #fff;

$highlight-2: #D99332;

$content-bkg-dark: #272727;
$title-dark: #FF9E1B;
$subtitle-dark: #fff;
$paragraph-dark: #FFFDFC;

$content-bkg-light: #EDEDED;
$title-light: #272727;
$paragraph-light: #454444;
