$nav-link: #ECECEC;
$nav-link-underline: #fff;

$highlight-text: #D99332;

$dark-background: #272727;
$dark-title: #FF9E1B;
$dark-subtitle: #fff;
$dark-paragraph: #FFFDFC;

$light-background: #EDEDED;
$light-title: #272727;
$light-paragraph: #454444;
