$white: #fff;
$nav-link: #ECECEC;

$content-bkg-dark: #272727;
$title-dark: #FF9E1B;
$paragraph-dark: #FFFDFC;

$content-bkg-light: #EDEDED;
$title-light: #272727;
$paragraph-light: #454444;

$yellow-1: #FF9E1B;
$yellow-2: #D99332;
