@mixin box-shadow-dark {
  -webkit-box-shadow: 10px 10px 39px 16px rgba(26, 26, 26, 1);
  -moz-box-shadow: 10px 10px 39px 16px rgba(26, 26, 26, 1);
  box-shadow: 10px 10px 39px 16px rgba(26, 26, 26, 1);
}
@mixin light-box-shadow {
  -webkit-box-shadow: 10px 10px 83px 25px rgba(188,188,188,1);
  -moz-box-shadow: 10px 10px 83px 25px rgba(188,188,188,1);
  box-shadow: 10px 10px 83px 25px rgba(188,188,188,1);
}
@mixin box-border {
  border-radius: 30px;
}
@mixin nav-brand-link($m-width, $m-height, $d-width, $d-height) {
  display: block;
  text-indent: -9999px;
  overflow: hidden;

  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("~assets/img/volpe_logotipo.png");

  width: $m-width;
  height: $m-height;
  @media (min-width: 768px) {
    width: $d-width;
    height: $d-height;
  }
}
@mixin hide-placeholder {
  &::placeholder {
    color: transparent;
  }

  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
}
@mixin input-background-gradient {
  background: rgba(31, 31, 31, 1);
  background: -moz-linear-gradient( top, rgba(31, 31, 31, 1) 0%, rgba(39, 39, 39, 0.24) 100% );
  background: -webkit-gradient( left top, left bottom, color-stop(0%, rgba(31, 31, 31, 1)), color-stop(100%, rgba(39, 39, 39, 0.24)) );
  background: -webkit-linear-gradient( top, rgba(31, 31, 31, 1) 0%, rgba(39, 39, 39, 0.24) 100% );
  background: -o-linear-gradient( top, rgba(31, 31, 31, 1) 0%, rgba(39, 39, 39, 0.24) 100% );
  background: -ms-linear-gradient( top, rgba(31, 31, 31, 1) 0%, rgba(39, 39, 39, 0.24) 100% );
  background: linear-gradient( to bottom, rgba(31, 31, 31, 1) 0%, rgba(39, 39, 39, 0.24) 100% );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#1f1f1f', endColorstr='#272727', GradientType=0 );
}
