.content-theme {
  &.--dark {
    background-color: $dark-background;
    color: $dark-paragraph;

    h1,
    h2 {
      color: $dark-title;
    }

    h3,
    h4,
    h5,
    h6 {
      color: $dark-subtitle;
    }

    .highlight-text {
      color: $highlight-text;
    }

    a.volpe-btn {
      color: $dark-paragraph;
      @include box-shadow-dark
    }
  }

  &.--light,
  &.--yellow {
    color: $light-paragraph;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $light-title;
    }
  }

  &.--light {
    background-color: $light-background;

    a.volpe-btn {
      color: $light-paragraph;
      @include light-box-shadow
    }
  }

  &.--yellow {
    background-color: $dark-title;
  }
}
