// @import url( 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import 'page-content-themes';
@import 'buttons';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.page-main-content {
  position: relative;
  @media (orientation: landscape) and (max-width: 828px) {
    padding-top: 10rem !important;
  }

  .row > .col.content-center {
    display: flex;
    align-items: center;
    justify-content: center;

    & > p {
      max-width: 680px;
      padding: 0 20px;
    }
  }

  .highlight-text {
    font-weight: 900;

    font-size: 6vw;
    line-height: 7vw;
    padding: 0 25px;
    @media (min-width: 500px) {
      font-size: 4vw;
      line-height: 5vw;
      padding: 0 36px;
    }
    @media (min-width: 992px) {
      font-size: 40px;
      line-height: 45px;
      padding: 36px;
    }

    &.--secondary {
      max-width: 861px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.--bold {
      font-weight: 900;
    }
  }

  h1 {
    &.--bigger {
      font-size: 3.5rem;
    }
  }

  h2 {
    font-size: 12vw;
    @media (min-width: 500px) {
      font-size: 70px;
    }

    &.--smaller {
      font-size: 10vw;
      @media (min-width: 500px) {
        font-size: 50px;
      }
    }
  }

  h3 {
    font-size: 25px;
  }

  p {
    &.--bigger {
      font-size: 25px;
    }
  }
}

.page-footer-wrapper {
  position: relative;

  .page-slogan {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    height: 264px;
    @media (min-width: 768px) {
      height: 439px;
    }

    h4 {
      color: $nav-link;
      font-size: 10vw;
      line-height: 10vw;
      font-weight: 900;
      text-align: center;
      @media (min-width: 1200px) {
        font-size: 80px;
        line-height: 85px;
      }
    }
  }

  .page-footer-content {
    .logo-wrapper {
      padding: 30px 0;

      img {
        width: 100%;
        padding: 0 20px;
      }
    }

    .page-footer-highlight-content {
      width: 100%;
      @media (min-width: 992px) {
        padding: 0 3rem 80px !important;
      }

      .container {
        display: flex;
        justify-content: flex-end;

        .icon-gap,
        .page-footer-icon {
          display: none;
          @media (min-width: 992px) {
            display: flex;
            margin-right: 12px;
            width: 69px;

            img {
              width: 100%;
            }
          }
        }

        p {
          width: 100%;
          max-width: 793px;
          font-size: 28px;
          line-height: 40px;
          @media (min-width: 992px) {
            padding-left: 23px;
          }
        }
      }
    }

    .bottom-gap {
      height: 110px;
      display: flex;
      justify-content: flex-end;
      padding-right: 30px;
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}

// modal mounted when comming from the server, avoiding to have duplicated modals
div[id="__BVID__24___BV_modal_outer_"] {
  visibility: hidden;
  display: none;
}
