@import url( 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,400;1,900&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

$page-slogan-height: 439px;

.page-main-content {
  .row {
    align-items: center;
    justify-content: center;
  }

  .highlight-text {
    max-width: 618px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
  }

  h2 {
    font-size: 70px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    max-width: 680px;
    text-align: center;
  }
}

.page-content-theme {
  &.--dark {
    background-color: $content-bkg-dark;
    color: $paragraph-dark;

    h1,
    h2 {
      color: $title-dark;
    }

    h3,
    h4,
    h5,
    h6 {
      color: $subtitle-dark;
    }

    .highlight-text {
      color: $highlight-2;
    }
  }

  &.--light,
  &.--yellow {
    color: $paragraph-light;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $title-light;
    }
  }

  &.--light {
    background-color: $content-bkg-light;
  }

  &.--yellow {
    background-color: $title-dark;
  }
}

.page-slogan {
  height: $page-slogan-height;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  h4 {
    color: $nav-link;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
  }
}

.page-slogan-parallax {
  position: relative;
}

.page-footer-content {
  position: absolute;
  width: 100%;
  top: $page-slogan-height;
}
